body {
    background: linear-gradient(to bottom , #B0E2FF, #6CA6CD, #008B8B) repeat;
    height: 100vh;
}   
.all {
    text-align: center;
    margin: auto;
    max-width: 400px;
    background-color: white;
    height: 92vh;
    box-shadow:0 0 10px black;
    font-family: 'Bad Script', cursive;
}
h1 {
    text-transform: uppercase;
    background-color: #86a8e7;
    color: white;
    padding: 45px;
    font-weight: normal;
    margin: 0px;
}
input {
    width: 100%;
    height: 50px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Bad Script', cursive;
    border: 1px solid black;
    box-sizing: border-box;
    /* margin-left: 1px;
    margin-right: 1px; */
    border-width: 2px 0;
    color: gray;
    padding: 3px;
}
input:focus {
    border-width: 1px 0;
    border-color: #edf1f5;
    color: #86a8e7;
}
.all ul{
    margin-top: 0px;
}
.all ul {
    margin: 0px;
    padding: 0px;
}
.all li {
    height: 10%;
    padding: 10px;
    text-align: left;
    list-style-type: none;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.all li:nth-child(2n) {
    background-color: #edf1f5;
}
.buttons {
    position: absolute;
        bottom: 3.5%;
        left: 0%;
    width: 100%;
    text-align: center;
}
.all button {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: #86a8e7;
    font-family: 'Bad Script', cursive;
    font-size: 15px;
    color: white;
}
#button_1 {
    margin-right: 15px;
}
button:hover {
    transition: 1s ease-out;
    transform: scale(1.1);
}
.delete {
    text-decoration: line-through;
}
.all img {
    src: url("garbage.svg");
    transition: transform 1s;
    width: 20px;        
    vertical-align: sub;
}
img:hover {
    transition: ease-in-out 1s;
    transform: scale(1.2);
}

.logo-navbar {
    width: 40px;
    transition: 1s;
}
.logo-navbar:hover {
    transition: 1s;
    transform: rotate(360deg)
}
.navbar {
    font-size: 12pt;
}